<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>

<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="container">

      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <div class="form-group">
                <%= f.label :firstName %>
                <%= f.text_field :firstName, :class=>"form-control"%>
              </div>
          </div>
      </div>
        
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <div class="form-group">
                <%= f.label :lastName %>
                <%= f.text_field :lastName, :class=>"form-control"%>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <div class="actions">
                <%= f.submit 'Add User', :class => 'btn btn-primary' %>
              </div>
          </div>
      </div>
    
        
<% end %>
