<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>getMovie()</script>


<%= form_for(movie) do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
      
      <div class="row">
          <div class="col-sm-5">
              <div class="form-group">
                <%= f.label :user_id %>
                <%= f.text_field :user_id, :id=>"idField", :class=>"form-control"%>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-5">
              <div class="form-group">
                <%= f.label :poster %>
                <%= f.text_field :poster, :id=>"posterField", :class=>"form-control"%>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-5">
              <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, :id=>"titleField", :class=>"form-control"%>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-5">
              <div class="form-group">
                <%= f.label :genre %>
                <%= f.text_field :genre, :id=>"genreField", :class=>"form-control" %>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-5">
              <div class="form-group">
                <%= f.label :year %>
                <%= f.text_field :year, :id=>"yearField", :class=>"form-control" %>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-5">
              <div class="form-group">
                <%= f.label :appRating %>
                <%= f.text_field :appRating, :id=>"appRatingField", :class=>"form-control" %>
              </div>
          </div>
      </div>
      
      <div class="row">
          <div class="col-sm-5">
              <div class="form-group">
                <%= f.label :plot %>
                <%= f.text_field :plot, :id=>"plotField", :class=>"form-control" %>
              </div>
          </div>
      </div>
      
      <div class="actions">
        <%= f.submit 'Add to My Movies', :class => 'btn btn-primary' %>
      </div>
      
  </div>


<% end %>
