<p id="notice"><%= notice %></p>

<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css"/>
<script src="https://use.fontawesome.com/37d2cdd69d.js"></script>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <% @user.each do |user| %>
                <h1><%= user.firstName %>'s Movies</h1>
                <% end %>
                 <%= link_to 'Go Back to Search', root_path, :class=>"btn btn-default" %>
            </div>
        </div>
    </div>


    <div class="container gallery-container">
        <div class="tz-gallery">
            <div class="row">
                <% @userMovies.each do |movie| %>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <%= link_to image_tag(movie.poster), movie, :class => 'lightbox' unless movie.poster.blank? %>
                            <div class="caption">
                                <h3><%= movie.title %></h3>
                                <p>Release: <%= movie.year %></p>
                                <p>Rating: <%= movie.appRating %></p>
                                <div class="controlSpacing">
                                    <%= link_to 'Edit', edit_movie_path(movie), :class => "btn btn-primary" %>
                                    <%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-danger" %>
                                </div>
                            </div>
                        </div>
                    </div> 
                <% end %>
            </div>
        </div>
    </div>
 

